<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Add New Student</title>
</head>
<body>

<div class="container">
    <h3 class="h3">Add New Student</h3>
    <form action="#" th:action="@{save/student}" th:object="${new_student}" method="POST">

        <table border="0" cellpadding="10">
            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />
            <tr>
                <div class="input-group mb-3">
                <td><input type="text" th:field="*{firstname}" placeholder="First Name" /></td>
                </div>
            </tr>
            <tr>
                <td><input type="text" th:field="*{lastname}" placeholder="Last Name"/></td>
            </tr>
            <tr>
                <td><input type="text" th:field="*{email}" placeholder="Email" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" class="btn btn-outline-success">Save</button> </td>
            </tr>
        </table>
    </form>
    <hr>
    <a th:href="@{/}" class="btn btn-primary stretched-link">Back to Student List</a>
</div>

</body>
</html>